.completo{
    margin: auto;
    width: 600px;
    margin-top: 5px;
    border: 1px solid red;
    
}
.esquerda{
    width: 200px;
    background-image: radial-gradient(rgb(5, 189, 182), rgba(4, 189, 192));
    min-width: 200px;
}
.esquerda #foto-topo{
  padding-top: 10px;
    display: block;
    margin: auto;
    width: 100px;
}

#cabecalho{
    padding-top: 10px;
}
#cabecalho p{
    text-align: center;
    font-size: 1.0em;
    color: white;
}

#divisor img{
    display: block;
    margin: -15px 0 0 0;
    height: 6px;
    padding-top:-15px ;
    box-shadow: 5px 5px 10px black;
}

#texto p{
    font-size: 0.8em;
    text-align: start;
    color: white;
}
#profile{
    padding-left: 5px;
    color: rgb(92, 72, 72);
    padding-bottom: 20px;
    font-size: 1.2em;
}
#profile #texto{
    text-align: left;
    margin-top: -10px;
    font-size: 0.7em;
}

.icones{
    float: left;
    color: white;
}
.icones p{
    text-align: left;
    margin-top: -10px;
    font-size: 0.7em;
}

.icones p i{
    padding-right: 28px;
}

.top p{
    font-size: 1.2em;
    color: rgb(92, 72, 72);
}
#hobby{
    clear: both;
    font-size: 1.2em;
    color: rgb(92, 72, 72);
}

